body{
background-image:url("images/elephant_forest_wildlife_135068_1280x720.jpg");
background-size:cover;
color:white;
}
h1{
color:white;
text-align:center;
}
form{
color:black;
}
#para{
text-align:center;
font-size:23px;
padding-top:120px;
}
label{
color:white;
}