{{#partial "content"}}

    <div class="row">
        <div class="col-sm-4">
            <h3 style="text-align:center"><a href="/animal/new">Add Animal</a></h3>
        </div>
        <div class="col-sm-4">
            <h3 style="text-align:center"><a href="/endangeredAnimal/new">Post endangered Animals</a></h3>
        </div>
        <div class="col-sm-4">
            <h3 style="text-align:center"><a href="/recorded">View Animals</a></h3>
        </div>
    </div>
    <hr>
    <p id="para">
        Welcome to wildlife tracker<br>
        The platform for rangers<br>
        to be the best at their job
    </p>
{{/partial}}
{{> layout.hbs}}