{{#partial "content"}}
    <div >
        <div class="jumbotron text-center">
            <h1>Successful!</h1>

            Your animal has been recorded!!!!!!!!

            <a href="/" id="go">Back</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}
